body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-80w {
  max-width: 80% !important;
}

.modal-70w {
  max-width: 70% !important;
}

.modal-60w {
  max-width: 60% !important;
}

.modal-40w {
  max-width: 40% !important;
}

.content {
  min-height: calc(100vh - 200px)
}
